<p>You say: <%= @answer %></p>
<% if @answer == 'I am going to work right now!'%>
<p>Your coach says: <%= "Great" %></p>
<% elsif @answer.include? "?" %>
<p>Your coach says: <%= "Silly question, get dressed and go to work!" %></p>
<% else %>
<p>Your coach says: <%= "I don't care, get dressed and go to work!" %></p>

<%= link_to "next question",  :ask %>
<% end %>
